pipeline/EmployIncrementalLoad.json
{
	"name": "EmployIncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastLoadedValue\nFROM dbo.ETL_Watermark\nWHERE TableName = 'EmployeeWarehouse.dbo.Employees';\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "truncate staging",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE dbo.Employees_Stage;\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "truncate staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@{concat(\n'SELECT EmployeeId, FullName, Department, Salary, LastModifiedDate ',\n'FROM dbo.Employees ',\n'WHERE LastModifiedDate > ''',\nactivity('Lookup1').output.firstRow.LastLoadedValue,\n''''\n)}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "merge and update watermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "/* 1) Merge incremental rows from Stage into Final */\nMERGE dbo.Employees_Final AS t\nUSING dbo.Employees_Stage AS s\nON t.EmployeeId = s.EmployeeId\nWHEN MATCHED AND s.LastModifiedDate > t.LastModifiedDate THEN\n    UPDATE SET\n        t.Name = s.Name,\n        t.Department = s.Department,\n        t.Salary = s.Salary,\n        t.LastModifiedDate = s.LastModifiedDate\nWHEN NOT MATCHED THEN\n    INSERT (EmployeeId, Name, Department, Salary, LastModifiedDate)\n    VALUES (s.EmployeeId, s.Name, s.Department, s.Salary, s.LastModifiedDate);\n\n/* 2) Update watermark only if Stage has rows */\nUPDATE dbo.ETL_Watermark\nSET LastLoadedValue =\n    CASE\n        WHEN EXISTS (SELECT 1 FROM dbo.Employees_Stage)\n        THEN (SELECT MAX(LastModifiedDate) FROM dbo.Employees_Stage)\n        ELSE LastLoadedValue\n    END\nWHERE TableName = 'EmployeeWarehouse.dbo.Employees';\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "merge and update watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE dbo.Employees_Stage;\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-01-20T23:59:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}